<div class="modal-header" style="margin-top: 55px;">
    <button type="button" ng-click="cancel()" class="close" data-dismiss="modal" aria-label="Close">
        <span aria-hidden="true">&times;</span>
    </button>
    <h3 class="modal-title"> Quote List</h3>
</div>
<div class="modal-body" style="height: 450px;">
    <div class="row">
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="info-box2">
                <div class="row">
                    <div class="col-xs-4 quotelistbox">
                        <div class="">
                            <span class="info-box-number2">Lorem Impatsu</span>
                            <br>
                            <span class="info-box-text"><a>+639 999 9999</a></span>
                            <small>Company</small>
                            <br>
                            <div ng-click="gotToProf($event)" style="margin-top: 10px;"><a>View Profile</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8" style="float: right;margin-top: -140px;margin-right: 0px;">
                            <div class="col-lg-6" style="text-align: right;padding-top: 0;">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>Completion(hours):</small>
                                    <br>
                                    <small>Total Rate:</small>
                                    <br>
                                    <small>Others:</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                                    <br>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>6 Hours</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                                    <br>
                                </div>
                            </div> <button type="button" class="btn btn-block btn-success btn-flat" style="margin-left: -11px;width: 99%;">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="info-box2">
                <div class="row">
                    <div class="col-xs-4 quotelistbox">
                        <div class="">
                            <span class="info-box-number2">Lorem Impatsu</span>
                            <br>
                            <span class="info-box-text"><a>+639 999 9999</a></span>
                            <small>Company</small>
                            <br>
                            <div ng-click="gotToProf($event)" style="margin-top: 10px;"><a>View Profile</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8" style="float: right;margin-top: -140px;margin-right: 0px;">
                            <div class="col-lg-6" style="text-align: right;padding-top: 0;">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>Completion(hours):</small>
                                    <br>
                                    <small>Total Rate:</small>
                                    <br>
                                    <small>Others:</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                                    <br>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>6 Hours</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                                    <br>
                                </div>
                            </div> <button type="button" class="btn btn-block btn-success btn-flat" style="margin-left: -11px;width: 99%;">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="info-box2">
                <div class="row">
                    <div class="col-xs-4 quotelistbox">
                        <div class="">
                            <span class="info-box-number2">Lorem Impatsu</span>
                            <br>
                            <span class="info-box-text"><a>+639 999 9999</a></span>
                            <small>Company</small>
                            <br>
                            <div ng-click="gotToProf($event)" style="margin-top: 10px;"><a>View Profile</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8" style="float: right;margin-top: -140px;margin-right: 0px;">
                            <div class="col-lg-6" style="text-align: right;padding-top: 0;">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>Completion(hours):</small>
                                    <br>
                                    <small>Total Rate:</small>
                                    <br>
                                    <small>Others:</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                                    <br>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>6 Hours</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                                    <br>
                                </div>
                            </div> <button type="button" class="btn btn-block btn-success btn-flat" style="margin-left: -11px;width: 99%;">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="info-box2">
                <div class="row">
                    <div class="col-xs-4 quotelistbox">
                        <div class="">
                            <span class="info-box-number2">Lorem Impatsu</span>
                            <br>
                            <span class="info-box-text"><a>+639 999 9999</a></span>
                            <small>Company</small>
                            <br>
                            <div ng-click="gotToProf($event)" style="margin-top: 10px;"><a>View Profile</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8" style="float: right;margin-top: -140px;margin-right: 0px;">
                            <div class="col-lg-6" style="text-align: right;padding-top: 0;">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>Completion(hours):</small>
                                    <br>
                                    <small>Total Rate:</small>
                                    <br>
                                    <small>Others:</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                                    <br>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>6 Hours</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                                    <br>
                                </div>
                            </div> <button type="button" class="btn btn-block btn-success btn-flat" style="margin-left: -11px;width: 99%;">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="info-box2">
                <div class="row">
                    <div class="col-xs-4 quotelistbox">
                        <div class="">
                            <span class="info-box-number2">Lorem Impatsu</span>
                            <br>
                            <span class="info-box-text"><a>+639 999 9999</a></span>
                            <small>Company</small>
                            <br>
                            <div ng-click="gotToProf($event)" style="margin-top: 10px;"><a>View Profile</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8" style="float: right;margin-top: -140px;margin-right: 0px;">
                            <div class="col-lg-6" style="text-align: right;padding-top: 0;">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>Completion(hours):</small>
                                    <br>
                                    <small>Total Rate:</small>
                                    <br>
                                    <small>Others:</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                                    <br>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>6 Hours</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                                    <br>
                                </div>
                            </div> <button type="button" class="btn btn-block btn-success btn-flat" style="margin-left: -11px;width: 99%;">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="info-box2">
                <div class="row">
                    <div class="col-xs-4 quotelistbox">
                        <div class="">
                            <span class="info-box-number2">Lorem Impatsu</span>
                            <br>
                            <span class="info-box-text"><a>+639 999 9999</a></span>
                            <small>Company</small>
                            <br>
                            <div ng-click="gotToProf($event)" style="margin-top: 10px;"><a>View Profile</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8" style="float: right;margin-top: -140px;margin-right: 0px;">
                            <div class="col-lg-6" style="text-align: right;padding-top: 0;">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>Completion(hours):</small>
                                    <br>
                                    <small>Total Rate:</small>
                                    <br>
                                    <small>Others:</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                                    <br>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>6 Hours</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                                    <br>
                                </div>
                            </div> <button type="button" class="btn btn-block btn-success btn-flat" style="margin-left: -11px;width: 99%;">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12 col-sm-6 col-xs-12">
            <div class="info-box2">
                <div class="row">
                    <div class="col-xs-4 quotelistbox">
                        <div class="">
                            <span class="info-box-number2">Lorem Impatsu</span>
                            <br>
                            <span class="info-box-text"><a>+639 999 9999</a></span>
                            <small>Company</small>
                            <br>
                            <div ng-click="gotToProf($event)" style="margin-top: 10px;"><a>View Profile</a></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-8" style="float: right;margin-top: -140px;margin-right: 0px;">
                            <div class="col-lg-6" style="text-align: right;padding-top: 0;">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>Completion(hours):</small>
                                    <br>
                                    <small>Total Rate:</small>
                                    <br>
                                    <small>Others:</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">QOW Total:</small>
                                    <br>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="form-group" style="line-height: 1.8;">
                                    <small>6 Hours</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small>$ 00.00</small>
                                    <br>
                                    <small style="color:#094e09;font-weight: 600;">$ 00.00</small>
                                    <br>
                                </div>
                            </div> <button type="button" class="btn btn-block btn-success btn-flat" style="margin-left: -11px;width: 99%;">Approve</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="modal-footer">
  <!--   <a ng-click="cancel()" class="btnes btn-raised btn-default" style="float:left;margin-left:15px;width:100px;">Cancel</a>
    <button class="btnes btn-raised btn-info pull-right" type="button" ng-click="ok()" style="margin-right: 15px;padding-bottom: 10px;">Create</button> -->
</div>
