<ion-tabs class="tabs-icon-top tabs-color-active-positive" style="background-color:#ffffff;">
  <ion-tab title="Dashboard" icon-off="ion-ios-stopwatch-outline" icon-on="ion-ios-stopwatch"  href="#/tabprocure/admindash">
    <ion-nav-view name="tab-admindash"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Task" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tabprocure/admintasks">
    <ion-nav-view name="tab-admintasks"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Create Task" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tabprocure/createtask">
    <ion-nav-view name="tab-create-task"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Reporting" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tabprocure/adminreport">
    <ion-nav-view name="tab-adminreport"></ion-nav-view>
  </ion-tab>
</ion-tabs>
