<ion-tabs class="tabs-icon-top tabs-color-active-positive" style="background-color:#ffffff;">
  <!-- Dashboard Tab -->
  <ion-tab title="Dashboard" icon-off="ion-ios-stopwatch-outline" icon-on="ion-ios-stopwatch"  href="#/tab/dash">
    <ion-nav-view name="tab-dash"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Task" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/admintasks">
    <ion-nav-view name="tab-admintasks"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Create Task" icon-off="ion-ios-compose-outline" icon-on="ion-ios-compose" href="#/tab/createtask">
    <ion-nav-view name="tab-create-task"></ion-nav-view>
  </ion-tab>
  <ion-tab title="Reporting" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/adminreport">
    <ion-nav-view name="tab-adminreport"></ion-nav-view>
  </ion-tab>
</ion-tabs>
