<ion-view view-title="Certifications" name="vendor-info">
    <ion-content class="padding">
    <div class="account-det">Do you have any certification?</div>
        
        <div class="row" style="margin-top: -10px;">
            <div class="col col-50">
                <button ui-sref="certification" class="button can-button">
                    No
                </button>
            </div>
            <div class="col col-50">
                <button ui-sref="certifications" class="button next-button">
                    Yes
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
