<ion-view view-title="" class="login-view">
	<ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <ion-content>
        <div class="list back padding-top">
            <div class="item login-header back">
            	<h2 class="login-font">CONTRACTOR APP</h2>
                <h3 class="energized">Forgot Password!</h3>
                <small class="l-font">Please enter the login email address <br> associated with your account.</small>
            </div>
        </div>
        <form name="authorizationForm" novalidate="" on-valid-submit="login(authorizationForm)">
            <div class="list list-inset padding-left padding-right">
                <div class="item item-input bortop item-icon-right validated">
                    <span class="i-con ion-ios-email-outline"></span>
                    <input type="text" placeholder="Email Address" ng-model="data.username" required>
                    <i class="icon ion-alert-circled error"></i>
                </div>
            </div>
            <div class="padding-left padding-right">
                <button class="button button-block button-positive" type="submit">Send Email</button>
                <p class="loglink" style="font-size: 11px;color: #d8d8d8">© 2016 Engagis Pty Ltd</p>
            </div>
        </form>
    </ion-content>
</ion-view>
