<ion-view view-title="" class="login-view">
    <ion-content class="padding has-footer">
        <div class="list back fullbox">
            <div class="item item-image back">
                <img src="/mobile/img/log.png" style="width: 23%;">
            </div>
            <div class="item login-header back">
                <div class="login-font">CONTRACTOR APP</div>
                <h3 class="log-font">Always take the lead!</h3>
                <small class="l-font">Apply as one of our certified contractor</small>
            </div>
            <div class="row vid">
                <div class="col">
                    <div class="video-container">
                        <iframe src="http://www.youtube.com/embed/shGhZzJ7o-g?rel=0" frameborder="0" allowfullscreen></iframe>
                    </div>
                </div>
            </div>
        </div>
        <div class="list list-inset padding-left padding-right">
            <label class="item item-input bortop">
                <span class="i-con ion-android-person"></span>
                <input type="text" placeholder="Username" ng-model="data.username">
            </label>
            <label class="item item-input bordbot">
                <span class="i-con ion-android-lock"></span>
                <input type="password" placeholder="Password" ng-model="data.password">
                <span class="item-n">
                    hide
                    </span>
            </label>
        </div>
        <div class="padding-left padding-right">
            <div class="forg">Forgot Password?</div>
            <a class="button button-block button-positive" ui-sref="tab.tasks">Login</a>
            <h4 ui-sref="vendorInfo" class="loglink positive">Apply as contractor</h4>
        </div>
    </ion-content>
    <div class="bar bar-footer">
        <p class="title" style="font-size: 10px;color: #d9d9d9">© 2016 Engagis Pty Ltd</p>
    </div>
</ion-view>
