<ion-view view-title="" class="login-view">
    <ion-content>
        <div class="list back padding-top">
            <div class="item item-image back">
                <img src="../mobile/img/eca-logo2.png" style="width: 23%;margin-top: 60px;">
            </div>
            <div class="item login-header back">
                <h2 class="login-font">CONTRACTOR APP</h2>
                <h3 class="energized">Always take the lead!</h3>
                <small class="l-font">Apply as one of our certified contractor</small>
            </div>
        </div>
        <form name="authorizationForm" novalidate="" on-valid-submit="login(authorizationForm)">
            <div class="list list-inset padding-left padding-right">
                <div class="item item-input bortop item-icon-right validated">
                    <span class="i-con ion-android-person"></span>
                    <input type="text" placeholder="Username" ng-model="data.username" required>
                    <i class="icon ion-alert-circled error"></i>
                </div>
                <div class="item item-input bordbot item-icon-right validated">
                    <span class="i-con ion-android-lock"></span>
                    <input type="{{inputType}}" placeholder="Password" ng-model="data.password" required>
                    <i class="icon ion-alert-circled error"></i>
                    <span class="item-n" ng-show="data.password" ng-click="hideShowPassword()">
                        {{showStr}}
                    </span>
                </div>
            </div>
            <div class="padding-left padding-right">
                <div ui-sref="forgot" class="forg">Forgot Password?</div>
                <button class="button button-block button-positive" type="submit">Login</button>
                <h4 ng-click="applyAsContractor()" class="loglink positive">Apply as contractor</h4>
                <p class="loglink" style="font-size: 11px;color: #d8d8d8">© 2016 Engagis Pty Ltd</p>
            </div>
        </form>
    </ion-content>
</ion-view>
