<ion-view view-title="Qualifications" name="vendor-info">
    <ion-content class="padding">
        <h4 class="new-label padding-top"><i class="icon ion-ios-list-outline"></i> QUALIFICATION CHECKLIST</h4>
        <div class="list padding-right padding-left">
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.one">
                <small>Hardware Installations</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.two">
                <small>Site-D Installations</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.three">
                <small>Preventive Maintenance</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.four">
                <small>Digital Media and Digital Points of Purchase Rollouts</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.five">
                <small>Basic Networking Experience</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.size">
                <small>Testing and Servicing Equipment</small>
            </ion-checkbox>
            <ion-checkbox class="checkbox-square checkboxList" ng-model="filter.other">
                <small>Others</small>
            </ion-checkbox>
            <div class="item-input-inset">
                <label class="item-input-wrapper">
                    <input type="text" placeholder="Add">
                </label>
                <button class="button button-small button-stable icon ion-plus"></button>
            </div>
        </div>
        <!-- <label class="new-label"><i class="icon ion-person"></i> LINKEDIN PROFILE</label>
        <div class="list list-inset">
            <label class="item item-input">
                <input type="text" placeholder="LinkedIn URL or Username" ng-model="data.linkedin">
            </label>
        </div> -->
        <label class="new-label"><i class="icon ion-document"></i> ATTACH RESUME</label>
        <div class="list padding-top padding-right padding-left">
            <label class="item item-input bortop bordbot my-drop-zone">
                <p class="stable"><i class="icon ion-plus"></i> Add File</p>
            </label>
        </div>
        <div class="list padding-top">
            <label class="new-label"><i class="icon ion-document"></i> ATTACH CERTIFICATE</label>
        </div>
        <div class="list list-inset padding-right padding-left">
            <label class="item item-input bortop bordbot my-drop-zone">
                <p class="stable"><i class="icon ion-plus"></i> Attach File</p>
            </label>
            <button class="button button-block button-energized icon-left ion-camera">
                Scan Certificate
            </button>
        </div>
        <label class="new-label"><i class="icon ion-person"></i> REFERENCE</label>
        <div class="form">
            <div class="list list-inset">
                <label class="item item-input">
                    <input type="text" placeholder="Name" ng-model="data.username">
                </label>
            </div>
            <div class="list list-inset">
                <label class="item item-input bordbot">
                    <input type="text" placeholder="Phone" ng-model="data.username">
                </label>
            </div>
        </div>
        <div class="row padding-top">
            <div class="col col-50">
                <button ui-sref="vendorRate" class="button button-block button-stable">
                    Cancel
                </button>
            </div>
            <div class="col col-50">
                <button class="button button-block button-positive">
                    Submit
                </button>
            </div>
        </div>
    </ion-content>
</ion-view>
