<ion-view view-title="Dashboard">
    <ion-content>
        <div class="list">
            <div class="item item-icon-left positive">
                <i class="icon ion-ios-minus-outline"></i>
                <h2 class="positive">Pending Tasks</h2>
                <span class="badge badge-energized">71</span>
            </div>
            <div class="item item-icon-left positive">
                <i class="icon ion-ios-pie-outline"></i>
                <h2 class="positive">Task in Progress</h2>
                <span class="badge badge-energized">57</span>
            </div>
            <div class="item item-icon-left positive">
                <i class="icon ion-ios-checkmark-outline"></i>
                <h2 class="positive">Completed Tasks</h2>
                <span class="badge badge-energized">37</span>
            </div>
            <div class="item item-icon-left positive">
                <i class="icon ion-ios-copy-outline"></i>
                <h2 class="positive">Reports</h2>
                <span class="badge badge-energized">17</span>
            </div>
        </div>
    </ion-content>
</ion-view>
