<div class="content-header">
    <h4>
         Tasks
          </h4>
    <ol class="breadcrumb">
        <li><a ui-sref="main.admindash"> Dashboard</a></li>
        <li> Tasks</li>
        <div class="vid" style="margin-top: -40px;margin-right: -15px;">
            <div class="col-xs-2" style="float:right;">
                <div class=" groupi">
                    <span class="highlight"></span>
                    <input type="text" class="form-control imported import" placeholder="Search...">
                    <span class="bar"></span>
                </div>
            </div>
            <div class="col-xs-2" style="float:right;">
                <div class="form-group groupi">
                    <span class="highlight"></span>
                    <select class="imported import">
                        <option value=" " hidden>Task Type:</option>
                        <option value="1">Installation</option>
                        <option value="2">AV-Installation</option>
                    </select>
                    <span class="bar"></span>
                </div>
            </div>
            <div class="col-xs-2" style="float:right;">
                <div class="form-group groupi">
                    <span class="highlight"></span>
                    <select class="imported import">
                        <option value=" " hidden>Priority:</option>
                        <option value="1">All</option>
                        <option value="2">High</option>
                        <option value="3">Moderate</option>
                        <option value="4">Low</option>
                    </select>
                    <span class="bar"></span>
                </div>
            </div>
        </div>
    </ol>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-body">
            </div>
        </div>
        <div class="col-md-12" id="1" name="newtask">
            <div class="box box-info boxcolorrrr">
                <div class="box-header with-border">
                    <h3 class="box-title">New Task 
                    <small ui-sref="main.newtasklist"><a>(View All)</a>
                    </small></h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12" style="padding-right: 0px;padding-left: 0px;">
                        <div class="info-box" ng-click="deTails(list)" ng-repeat="list in newTaskData | limitTo: 3">
                            <span class="info-box-icon bg-red" ng-if="list.priority === 'High'"></span>
                            <span class="info-box-icon bg-green" ng-if="list.priority === 'Medium'"></span>
                            <span class="info-box-icon bg-yel" ng-if="list.priority === 'Low'"></span>
                            <div class="infobox-content col-md-12">
                                <div class="col-md-2 pull-right" style="text-align:center;margin-top:10px;">
                                    <img src="images/no-avatar.jpg" class="img-circle" alt="User Image" style="width:40px;">
                                    <br>
                                    <small> Unassigned</small>
                                </div>
                                <span class="info-box-number">{{list.taskname}}</span>
                                <span class="info-box-text" style="padding-top: 5px;">({{list.location}})</span>
                                <div style="padding-top: 5px;margin-left:-15px;">
                                    <div class="col-md-2">
                                        <small><i class="fa fa-warning"></i>{{list.priority}}</small>
                                    </div>
                                    <div class="col-md-2">
                                        <small><i class="fa fa-calendar"></i>{{list.deadline | date:'longDate'}}</small>
                                    </div>
                                    <div class="col-md-2">
                                        <small><i class="fa fa-close " style="color:red;"></i> Unassigned</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="2">
            <div class="box box-info boxcolorrrr">
                <div class="box-header with-border">
                    <h3 class="box-title">Task In Progress<small ui-sref="main.taskinprogresslist"><a> (View All)</a></small></h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12" style="padding-right: 0px;padding-left: 0px;">
                        <div class="info-box" ng-repeat="list in progressData track by list._id | limitTo: 3" ng-click="deTails(list)">
                            <span class="info-box-icon bg-red" ng-if="list.priority === 'High'"></span>
                            <span class="info-box-icon bg-green" ng-if="list.priority === 'Medium'"></span>
                            <span class="info-box-icon bg-yel" ng-if="list.priority === 'Low'"></span>
                            <div class="infobox-content col-md-12">
                                <div class="col-md-2 pull-right" style="text-align:center;margin-top:10px;">
                                    <img src="images/no-avatar.jpg" class="img-circle" alt="User Image" style="width:40px;">
                                    <br>
                                    <small>Smith, Robert</small>
                                </div>
                                <span class="info-box-number">{{list.taskname}}</span>
                                <span class="info-box-text" style="padding-top: 5px;">({{list.location}})</span>
                                <div style="padding-top: 5px;margin-left:-15px;">
                                    <div class="col-md-2">
                                        <small><i class="fa fa-warning"></i>{{list.priority}}</small>
                                    </div>
                                    <div class="col-md-2">
                                        <small><i class="fa fa-calendar"></i>{{list.deadline | date:'longDate'}}</small>
                                    </div>
                                    <div class="col-md-2">
                                        <small><i class="fa fa-check" style="color:green;"></i> In Progress</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="3">
            <div class="box box-info boxcolorrrr">
                <div class="box-header with-border">
                    <h3 class="box-title">Pending Task<small ui-sref="main.pendingtasklist"><a> (View All)</a></small></h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12" style="padding-right: 0px;padding-left: 0px;">
                        <div class="info-box" ng-repeat="list in pendingData track by list._id | limitTo: 3" ng-click="deTails(list)">
                            <span class="info-box-icon bg-red" ng-if="list.priority === 'High'"></span>
                            <span class="info-box-icon bg-green" ng-if="list.priority === 'Medium'"></span>
                            <span class="info-box-icon bg-yel" ng-if="list.priority === 'Low'"></span>
                            <div class="infobox-content col-md-12">
                                <div class="col-md-2 pull-right" style="text-align:center;margin-top:10px;">
                                    <img src="images/no-avatar.jpg" class="img-circle" alt="User Image" style="width:40px;">
                                    <br>
                                    <small>Smith, Robert</small>
                                </div>
                                <span class="info-box-number">{{list.taskname}}</span>
                                <span class="info-box-text" style="padding-top: 5px;">({{list.location}})</span>
                                <div style="padding-top: 5px;margin-left:-15px;">
                                    <div class="col-md-2">
                                        <small><i class="fa fa-warning"></i>{{list.priority}}</small>
                                    </div>
                                    <div class="col-md-2">
                                        <small><i class="fa fa-calendar"></i>{{list.deadline | date:'longDate'}}</small>
                                    </div>
                                    <div class="col-md-2">
                                        <small><i class="fa " style="color:green;"></i> Not Started</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-12" id="4">
            <div class="box box-info boxcolorrrr">
                <div class="box-header with-border">
                    <h3 class="box-title">Completed Task<small ui-sref="main.completedtasklist"><a> (View All)</a></small></h3>
                </div>
                <div class="box-body">
                    <div class="col-xs-12" style="padding-right: 0px;padding-left: 0px;">
                        <div class="info-box" ng-repeat="list in completedData | limitTo: 3" ng-click="deTails(list)">
                            <span class="info-box-icon bg-red" ng-if="list.priority === 'High'"></span>
                            <span class="info-box-icon bg-green" ng-if="list.priority === 'Medium'"></span>
                            <span class="info-box-icon bg-yel" ng-if="list.priority === 'Low'"></span>
                            <div class="infobox-content col-md-12">
                                <div class="col-md-2 pull-right" style="text-align:center;margin-top:10px;">
                                    <img src="images/download (1).png" class="img-circle" alt="User Image" style="width:40px;">
                                    <br>
                                    <small>Close Task</small>
                                </div>
                                <div ui-sref="main.completedtask">
                                    <div class="col-md-2 pull-right vid" style="text-align:center;margin-top:10px;">
                                        <img src="images/no-avatar.jpg" class="img-circle" alt="User Image" style="width:40px;">
                                        <br>
                                        <small>Smith, Robert</small>
                                    </div>
                                    <span class="info-box-number">{{list.taskname}}</span>
                                    <span class="info-box-text" style="padding-top: 5px;">({{list.location}})</span>
                                    <div style="padding-top: 5px;margin-left:-15px;">
                                        <div class="col-md-2">
                                            <small><i class="fa fa-warning"></i>{{list.priority}}</small>
                                        </div>
                                        <div class="col-md-2">
                                            <small><i class="fa fa-calendar"></i>{{list.deadline | date:'longDate'}}</small>
                                        </div>
                                        <div class="col-md-2">
                                            <small><i class="fa fa-check" style="color:green;"></i> Completed</small>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!--   <div class="box-body">
            <div class="form-group">
                <div for="inputEmail3" class="col-sm-2 control-label" style="padding-top: 25px;">Items per page:</div>
                <div class="col-sm-1">
                    <select class="form-control setpage" style="height:30px;">
                        <option selected>5</option>
                        <option>10</option>
                        <option>15</option>
                    </select>
                </div>
            </div>
        </div>
        <ul uib-pagination boundary-links="true" total-items="totalItems" ng-model="currentPage" class="pagination-sm" previous-text="&lsaquo;" next-text="&rsaquo;" first-text="&laquo;" last-text="&raquo;"></ul> -->
    </div>
    <div class=”backToTop”></div>
    <!-- /.row (main row) -->
</section>
