<div class="content-header">
    <h4>
         Tasks
          </h4>
    <ol class="breadcrumb">
        <li><a ui-sref="main.admindash"> Dashboard</a></li>
        <li ui-sref="main.admintask"> Tasks</li>
        <li> Tasks Details</li>
    </ol>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-body">
                <div class="col-xs-2" style="float:right;">
                    <div class="form-group">
                        <div align="right">
                            <div class="conteneryellow" ng-click="qowlist(task)" style="margin-bottom: -14px;width:93%;margin-right: 10px;">
                                <div class="paper-button txt_button" style="color:white;" angular-ripple>View QOW</div>
                            </div>
                            <!--  <div class="conteneryellow" ng-click="openListMod()" style="margin-bottom: -14px;width:93%;margin-right: 10px;">
                                <div class="paper-button txt_button" style="color:white;" angular-ripple>View QOW</div>
                            </div> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="timeline">
                <li>
                    <i class="fa fa-info bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a>Task Details</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <div>Task Name:</div>
                                        <div>Task Type:</div>
                                        <div>Priority:</div>
                                        <div>Case Number:</div>
                                        <div>Project Name:</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <small>{{task.taskname}}</small>
                                        <br>
                                        <small>{{task.tasktype}}</small>
                                        <br>
                                        <small>{{task.priority}}</small>
                                        <br>
                                        <small>{{task.casenumber}}</small>
                                        <br>
                                        <small>{{task.projectname}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-tasks bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header no-border"><a href="#">Task Description</a></h3>
                        <div class="timeline-body">
                            {{task.description}}
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa  fa-file-pdf-o bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a href="#">Attachment/s</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-6" style="text-align:center;">
                                    <a href="images/pdfurl-guide.pdf"><img src="images/adobe-acrobat-pdf-file-512.png" width="80%">
                                        <br> pdfurl-guide.pdf
                                    </a>
                                </div>
                                <div class="col-xs-6" class="pull-right" style="margin-left: -50px;padding-top:5px;">
                                    <a href="images/pdfurl-guide.pdf" download angular-ripple>
                                        <div class=""><span class="fa fa-download" style="font-size:30px;color:#000;" name="Download"></span></div>
                                    </a>
                                    <!--  <small style="font-size: 10px;"> Download PDF</small> -->
                                </div>
                            </div>
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-warning btn-flat btn-xs" style="visibility: collapse;"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa bg-gray"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="timeline">
                <li>
                    <i class="fa  fa-user bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a>Assignee & Reporter</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <div>Assignee:</div>
                                        <div>Reporter:</div>                                        
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <small>{{task.contractors[0].fname}} {{task.contractors[0].lname}}</small>
                                        <br>
                                        <small>{{task.reporter.fname}} {{task.reporter.lname}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-map-marker bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a>Location</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <div>Store Name:</div>
                                        <div>Location:</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <small>{{task.storename}}</small>
                                        <br>
                                        <small>{{task.location}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-clock-o bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a>Task Deadline</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <div>Deadline:</div>
                                        <div>Estimate Day of Completion:</div>
                                        <div>Estimate Time of Completion:</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <small>{{task.deadline}}</small>
                                        <br>
                                        <small>{{task.numdays}}</small>
                                        <br>
                                        <small>{{task.numhours}}</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa bg-gray"></i>
                </li>
            </ul>
        </div>
    </div>
</section>
