<div class="content-header">
    <h4>
         Tasks
          </h4>
    <ol class="breadcrumb">
        <li><a href="#"> Dashboard</a></li>
        <li ui-sref="main.admintask"> Tasks</li>
        <li> Tasks Details</li>
    </ol>
</div>
<section class="content">
    <div class="row">
        <div class="col-md-12">
            <div class="box-body">
                <div class="col-xs-2" style="float:right;">
                    <div class="form-group">
                        <!--  <button ng-click="openListMod()" class="btnes btn-warning  pull-right" type="button" ng-click="ok()" style="padding-bottom: 10px;">View QOW</button> -->
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <ul class="timeline">
                <li>
                    <i class="fa fa-info bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a>Task Details</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <div>Task Name:</div>
                                        <div>Task Type:</div>
                                        <div>Priority:</div>
                                        <div>Case Number:</div>
                                        <div>Project Name:</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <small>AV-Installation</small>
                                        <br>
                                        <small>Installation</small>
                                        <br>
                                        <small>High</small>
                                        <br>
                                        <small>547867456</small>
                                        <br>
                                        <small>AV</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-tasks bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header no-border"><a href="#">Task Description</a></h3>
                        <div class="timeline-body">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aenean euismod bibendum laoreet. Proin gravida dolor sit amet lacus accumsan et viverra justo commodo. Proin sodales pulvinar tempor. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nam fermentum, nulla luctus pharetra vulputate, felis tellus mollis orci, sed rhoncus sapien nunc eget odio.
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa  fa-file-pdf-o bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a href="#">Attachment/s</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-6" style="text-align:center;">
                                    <a href="images/pdfurl-guide.pdf"><img src="images/adobe-acrobat-pdf-file-512.png" width="80%">
                                        <br> pdfurl-guide.pdf
                                    </a>
                                </div>
                                <div class="col-xs-6" class="pull-right" style="margin-top:0px;">
                                    <a href="images/pdfurl-guide.pdf" download angular-ripple>
                                        <div class="btn-round"><span class="fa fa-download"></span></div>
                                    </a>
                                    <small style="font-size: 10px;"> Download PDF</small>
                                </div>
                            </div>
                        </div>
                        <div class="timeline-footer">
                            <a class="btn btn-warning btn-flat btn-xs" style="visibility: collapse;"></a>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa bg-blue"></i>
                </li>
            </ul>
        </div>
        <div class="col-md-6">
            <ul class="timeline">
                <li>
                    <i class="fa  fa-user bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a>Assignee & Reporter</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <div>Assignee:</div>
                                        <div>Reporter:</div>
                                        <div>Company:</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <small>Lorem Impatsu</small>
                                        <br>
                                        <small>Lorem Impatsu</small>
                                        <br>
                                        <small>7-Eleven</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-map-marker bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a>Location</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-4">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <div>Store Name:</div>
                                        <div>Location:</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <small>7-Eleven</small>
                                        <br>
                                        <small>Australia</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa fa-clock-o bg-blue"></i>
                    <div class="timeline-item">
                        <h3 class="timeline-header"><a>Task Deadline</a></h3>
                        <div class="timeline-body">
                            <div class="row">
                                <div class="col-xs-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <div>Deadline:</div>
                                        <div>Estimate Day of Completion:</div>
                                        <div>Estimate Time of Completion:</div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="form-group" style="line-height: 1.8;">
                                        <small>June 27, 2016</small>
                                        <br>
                                        <small>3 Hours</small>
                                        <br>
                                        <small>3 Hours</small>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </li>
                <li>
                    <i class="fa bg-blue"></i>
                </li>
            </ul>
        </div>
    </div>
</section>
