/* Empty. Add your own CSS if you like */

.back {
    background-color: #0f6ab5;
    border-color: #0f6ab5;
}

.i-con {
    font-size: 25px;
    margin-bottom: -10px;
    margin-top: -10px;
    margin-right: 15px;
    width: 30px;
    color: #0271b6;
    text-align: center;
}

.bortop {
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    height: 44px;
}

.bordbot {
    border-bottom-right-radius: 4px;
    border-bottom-left-radius: 4px;
    height: 44px;
}

// =================================== LOGIN VIEW =================================== //
.login-view .footer-title {
    font-size: 10px;
    color: #d9d9d9
}

.login-view .list-inset .item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.login-view .list-inset .item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.login-view .forg {
    text-align: center;
    color: #0271b6;
    font-size: 12px;
}

.login-view .login-header {
    padding: 0px;
    text-align: center;
}

.login-view .item-n {
    margin-right: 10px;
    color: #0271b6;
    font-size: 10px;
}

.login-view .login-font {
    color: rgb(245, 243, 243);
    font-weight: 600;
    font-size: 18px;
    margin-bottom: 15px;
    margin-top: 15px;
}

.login-view .log-font {
    color: #e2ad0b;
    font-weight: 600;
}

.login-view .l-font {
    color: rgb(245, 243, 243);
    font-size: 11px;
}

.login-view .fullbox {
    margin: -10px;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 15px;
}

.login-view .loglink {
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    margin-top: 15px;
}

.login-view .video-container {
    position: relative;
    padding-bottom: 45%;
    padding-top: 10px;
    height: 0;
    overflow: hidden;
}

.login-view .video-container iframe,
.login-view .video-container object,
.login-view .video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.login-view .vid {
    padding-bottom: 5px;
    padding-left: 0;
    padding-right: 0;
}

// =================================== VENDOR INFO VIEW =================================== //
.vendor-info .footer-title {
    font-size: 10px;
    color: #d9d9d9
}

.vendor-info .list-inset .item:first-child {
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.vendor-info .list-inset .item:last-child {
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
}

.cop {
    text-align: center;
    margin-top: 2px;
    color: #b9b5b5;
    font-size: 13px;
    font-weight: 500;
}

.profilepic {
    margin-left: -10px;
    margin-right: -10px;
    margin-top: -10px;
    height: 200px;
    margin-bottom: 0px;
}

.add-button {
    padding: 2px 4px 1px;
    min-width: 122px;
    min-height: 30px;
    font-size: 12px;
    line-height: 26px;
    background-color: #f8a421;
    font-size: 13px;
    font-weight: 600;
    color: #fff;
    float: right;
    margin-right: 10px;
}

.p-log {
    color: #444;
    text-decoration: none;
}

.new-label {
    font-size: 13px;
    font-weight: 500;
    margin-left: 20px;
}

.curr {
    height: 40px;
    margin-left: 10px;
    margin-right: 10px;
    margin-bottom: 15px;
}

.sel {
    margin-left: -100px;
    direction: inherit;
}

.item-new {
    border-color: rgba(221, 221, 221, 0);
    /* background-color: #fff; */
    color: #444;
    position: relative;
    z-index: 2;
    display: block;
    margin: -1px;
    // padding: 16px;
    border-width: 1px;
    border-style: solid;
    font-size: 16px;
}

.account-det {
    margin: 10px;
    font-size: 14px;
    color: #4e4e4e;
}

.time-pick {
    margin-top: 4px;
    text-align: center;
}

.time-p {
    background-color: #0271b6;
}

.time-lab {
    height: 35px;
}

.checkboxList {
    border-style: none!important;
}

.checkboxList input[type="checkbox"] {
    border: 1px solid red!important;
    background: green;
}

.form .list-inset {
    overflow: hidden;
    margin: 3px 10px;
    border-radius: 2px;
    background-color: #fff;
}

.form1 .list-inset {
    overflow: hidden;
    margin: 10px 10px;
    border-radius: 2px;
    background-color: #fff;
}

.my-drop-zone {
    border: dotted 3px lightgray;
}

.task-status-high {
    border-left: 10px solid #b50005;
}

.task-status-normal {
    border-left: 10px solid #3c9902;
}

.task-status-low {
    border-left: 10px solid #f8a421;
}

.task-detail .task-item {
    border: none;
    font-size: 14px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.task-detail .task-item .button.button-positive.button-clear {
    font-size: 14px;
}
