<div class="row">
    <div class="col col-33">
        <div ng-class="{'red' : !toggle}" class="dialoglab">CHECK IN</div>
        <br>
        <div ng-class="{'red' : !toggle}" class="dialoglab2" style="color: #848484;">{{selectedTask.start}}</div>
    </div>
    <div class="col col-33" style=" text-align: center;">
        <label class="toggle" ng-click="toggleCheckInOut()">
            <input type="checkbox" ng-model="toggle">
            <div class="track">
                <div class="handle"></div>
            </div>
        </label>
    </div>
    <div class="col col-33">
        <div ng-class="{'red' : toggle}" class="dialoglab " style="float:left; ">CHECK OUT</div>
        <br>
        <div ng-class="{'red' : toggle}" class="dialoglab2 " style="float:left;color: #848484; ">{{selectedTask.end}}</div>
    </div>
</div>
