<ion-modal-view class="margin-top-44">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">List of Contractors</h1>
        <button class="button button-icon icon ion-ios-close-empty button-primary" ng-click="closeContractorModal()"></button>
    </ion-header-bar>
    <ion-content>
        <ion-refresher on-refresh="doContractorListRefresh()" spinner="spiral"></ion-refresher>
        <ion-list>
            <ion-checkbox ng-repeat="list in $parent.contractorData" ng-model="list.checked" ng-change="addContractoTask(list)">
                <h2>{{list.fname}} {{list.fname}}</h2>
                <p>{{list.companyname}}</p>
                <p>{{list.phone}}</p>
                <p>{{list.email}}</p>
            </ion-checkbox>
    </ion-content>
</ion-modal-view>
