<ion-popover-view style="height: 125px;">
    <ion-content scroll="false">
        <div class="list">
            <div ng-click="scanCertificateCamera()" class="item item-icon-left">
                <i class="icon ion-ios-camera-outline"></i>
                Camera
            </div>
            <div ng-click="scanCertificateFile()" class="item item-icon-left">
                <i class="icon ion-ios-folder-outline"></i>
                Browse ...
            </div>
        </div>
    </ion-content>
</ion-popover-view>