<ion-modal-view style="margin-top:45px;">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 ng-if="user.usertype == 'con'" class="title">List of New Task</h1>
        <h1 ng-if="user.usertype == 'proc'" class="title">List of Pending Task</h1>
        <button class="button button-clear button-primary" ng-click="closenewtaskModal()">Close</button>
    </ion-header-bar>
    <ion-content class="padding" style="margin-left:0px;margin-bottom:10px;margin-top:50px;">
        <div style="text-align:center;"><small style="font-style:italic;"> <a> (Tap task to view details <img src="img/tap.svg" style="width: 5%;margin-bottom: -5px;">)</a></small></div>
        <div class="card newcard animated fadeInLeft anim 6">
            <!-- card start -->
            <div class=" taskcardred" ng-click="newTask($event)">
                <div class="card-sidepad" style="background-color: #c10606;"></div>
                <div class="cardin">
                    <div class="card-lbl">Network Setup</div>
                    <p class="card-lblp">7-Eleven</p>
                    <p class="card-lblp" style="margin-top: -5px;">7 July 2016</p>
                    <!-- <button class="btn-flat btn-done animated fadeInBounce" ng-click="newTask($event)">DETAILS</button> -->
                </div>
            </div>
        </div>
        <div class="card newcard animated fadeInLeft anim 6">
            <!-- card start -->
            <div class=" taskcardred" ng-click="newTask($event)">
                <div class="card-sidepad" style="background-color: #c10606;"></div>
                <div class="cardin">
                    <div class="card-lbl">Network Setup</div>
                    <p class="card-lblp">7-Eleven</p>
                    <p class="card-lblp" style="margin-top: -5px;">7 July 2016</p>
                    <!-- <button class="btn-flat btn-done animated fadeInBounce" ng-click="newTask($event)">DETAILS</button> -->
                </div>
            </div>
        </div>
        <div class="card newcard animated fadeInLeft anim 6">
            <div class=" taskcardyellow" ng-click="newTask($event)">
                <div class="card-sidepad" style="background-color: #ece505;"></div>
                <div class="cardin">
                    <div class="card-lbl">Hardware Installation</div>
                    <p class="card-lblp">Telstra</p>
                    <p class="card-lblp" style="margin-top: -5px;">17 July 2016</p>
                    <!--  <button class="btn-flat btn-done animated fadeInBounce" ng-click="newTask($event)">DETAILS</button> -->
                </div>
            </div>
            <!-- endcard -->
        </div>
    </ion-content>
</ion-modal-view>
