<ion-modal-view style="margin-top:45px;">
    <ion-header-bar class="bar bar-header bar-stable">
        <h1 class="title">List of Report</h1>
        <button class="button button-icon icon ion-ios-close-empty button-primary" ng-click="closemyreportModal()"></button>
    </ion-header-bar>
    <ion-content>
        <ion-list show-delete="false" can-swipe="true">
            <ion-item style="height: 90px;" ng-repeat="list in reportsData" class="animated fadeInLeft">
                <div class="cardrightside">
                    <div class="ion-ios-arrow-left" style="margin-top: 33px;color: #c3c3c3;"></div>
                </div>
                <div class="card-sidepad" style="background-color: white;"></div>
                <div class="cardin" ng-if="user.usertype=='proc'">
                    <div>
                        <div class="card-lbl">Sender:</div>
                        <p class="card-lblp">Task:</p>
                        <p class="card-lblp" style="margin-top: -5px;">Date:</p>
                    </div>
                    <div style="margin-left: 65px;margin-top: 5px;">
                        <div class="card-lbl">Roberts, Johnny</div>
                        <p class="card-lblp">Network Setup</p>
                        <p class="card-lblp" style="margin-top: -5px;">7 July 2016</p>
                    </div>
                </div>
                <ion-option-button class="button button-dark" ng-click="downloadReportDetails(list)" style="padding: 15px;line-height: 1.5;padding-bottom: 35px;">
                    <small><div><i  class="icon ion-android-download"></i></div><div>Download</div></small>
                </ion-option-button>
                <ion-option-button class="button button-balanced" ng-click="showReportDetails(list)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-information"></i></div><div>View</div> <div>Details</div></small>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-modal-view>
