<ion-popover-view style="background-color:#0e60a3;top: 45px;">
    <ion-content>
        <div class="list">
            <div class="dropprofile">
                <img src="./img/no-avatar.jpg" class="img-circle center dropaccout" alt="User Image">
                <div>{{currentUser.fname}} {{currentUser.lname}}</div>
                <small>Member since <span am-time-ago="currentUser.datecreated"></span></small>
            </div>
            <div ng-click="$parent.showUserProfile($event)" ng-if="user.usertype=='con'" class="item" style="text-align:center;">
                Profile
            </div>
            <div ng-click="$parent.showAdminProfile($event)" ng-if="user.usertype=='proc'" class="item" style="text-align:center;">
                Profile
            </div>
            <div ng-click="signOut($event)" class="item" style="text-align:center;">
                Signout
            </div>
        </div>
    </ion-content>
</ion-popover-view>
