<a class="logo">
    <img class="logoo" src="images/eca-logo2 copy.png" width="50" style="margin-top: -9px;width: 40px;"> CONTRACTOR APP
    <nav class="navbar navbar-static-top">
        <a class="sidebar-toggle" ng-click="hide = !hide" ng-class="{'icon fa fa-close': !hide, 'fa fa-bars': hide}" role="button"  style="color: rgb(29, 33, 41);">
            <span class="sr-only"></span>
        </a>
        <div class="navbar-custom-menu">
            <nav class="navbar-static-top" role="navigation" style="background-color: #2980dc;">
                <div class="navbar-custom-menu" style="padding-top: 21px;">
                    <ul class="nav navbar-nav">
                        <li class="dropdown user user-menu">
                            <a class="dropdown-toggle edoy" data-toggle="dropdown" ng-click="drop = !drop" ng-class="{'icon fa fa-caret-down': !drop, 'fa  fa-caret-up': drop}" style="color: rgb(29, 33, 41);">
                                <img src="images/no-avatar.jpg" class="user-image" alt="User Image">
                                <i class="" style="color: white;"></i>
                            </a>
                            <ul id="!drop" class="dropdown-menu" style="box-shadow: 1px 4px 7px rgba(0, 0, 0, 0.52);margin-top: 1px;">
                                <li class="user-header" style="background-color: #2980dc;">
                                    <img src="images/no-avatar.jpg" class="img-circle" alt="User Image">
                                    <p>
                                        Risse, Katrin
                                        <small>Member since July. 2016</small>
                                    </p>
                                </li>
                                <li class="user-footer" style="background-color: #f3f3f3;padding: 10px;">
                                    <div class="pull-left">
                                        <a ui-sref="main.userprofile" class="btn btn-default btn-flat">Profile</a>
                                    </div>
                                    <div class="pull-right">
                                        <a href="#" class="btn btn-default btn-flat">Sign out</a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
        <form>
            <div class="lognamess">Risse, Katrin</div>
            <div class="input-groupo">
                <span class="input-groupo-addon"><i class="fa  fa-search" style=""></i></span>
                <input type="search" placeholder="Search">
            </div>
        </form>
    </nav>
</a>
<!-- <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-addon"><i class="fa fa-check"></i></span>
</div> -->
