<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="nav sidebar-menu">
            <li class="header" style="text-align:center;">PROCUREMENT MANAGER</li>
            <li ng-init="active">
                <a ui-sref="main.admindash">
                    <i class="fa fa-dashboard"></i>
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a ui-sref="main.admintask">
                    <i class="fa fa-tasks"></i>
                    <span>Tasks</span>
                </a>
            </li>
            <li>
                <a ui-sref="main.adminreports">
                    <i class="fa fa-clipboard"></i>
                    <span>Reports</span>
                </a>
            </li>
            <li class="header"></li>
            <!-- <button ng-click="openMod('lg')" class=" btn-raised btn-info" style="width:100%">Create Task</button> -->
            <div align="center">
                <div class="conteneryellow" ng-click="openMod('lg')" style="width:90%;box-shadow: 0px 2px 6px rgba(99, 99, 99, 0.02);">
                    <div class="txt_button zoom" angular-ripple>Create Task</div>
                    <div class="circle">&nbsp;</div>
                </div>
            </div>
            <!-- <div ng-click="openMod('lg')">
                <div class="down-arrow"><a>Create Task</a></div>
            </div> -->
        </ul>
    </section>
</aside>
