<aside class="main-sidebar">
    <section class="sidebar">
        <div class="user-panel">
            <div class="pull-left image">
                <img src="images/no-avatar.jpg" class="img-circle" alt="User Image">
            </div>
        </div>
        <ul class="sidebar-menu" style="margin-top: -20px;">
            <li>
                <a style="padding-bottom: 0px;" ng-click="iconics = !iconics">
                    <div class="sidehead">Risse, Katrin
                        <span class="pull-right-container">
                        <i class="pull-right" style="padding-right: 10px;padding-top: 5px;font-size: 12px;"  ng-class="{'icon fa  fa-caret-down': !iconics, 'fa fa-caret-up': iconics}"></i>
                        </span>
                    </div>
                </a>
                <ul class="treeview-menu">
                    <li>
                        <a ui-sref="main.userprofile">
                            <img src="images/icons/ic_person_white_24px.svg" style="padding-right: 7px;">
                            <span>View Profile</span>
                        </a>
                    </li>
                    <li>
                        <a href="#">
                            <img src="images/icons/ic_input_white_24px.svg" style="padding-right: 7px;">
                            <span>Logout</span>
                        </a>
                    </li>
                </ul>
            </li>
        </ul>
        <ul class="nav sidebar-menu">
            <li ng-init="active">
                <a ui-sref="main.admindash">
                    <img src="images/icons/ic_dashboard_white_24px.svg" style="padding-right: 7px;">
                    <span>Dashboard</span>
                </a>
            </li>
            <li>
                <a ng-click="icons = !icons">
                    <img src="images/icons/ic_subject_white_24px.svg" style="padding-right: 7px;">
                    <span>Tasks</span>
                    <span class="pull-right-container">
              <i class="pull-right" style="padding-right: 10px;padding-top: 5px;font-size: 9px;"  ng-class="{'icon fa  fa-plus': !icons, 'fa fa-minus': icons}"></i>
            </span>
                </a>
                <ul class="treeview-menu">
                    <li ng-click="scrollTo('1')">
                        <a ui-sref="main.admintask">
                            <i class="fa" style="padding-right: 28px;"></i>
                            <span>New Task</span>
                        </a>
                    </li>
                    <li ng-click="scrollTo('2')">
                        <a ui-sref="main.admintask">
                            <i class="fa" style="padding-right: 28px;"></i>
                            <span>Task in Progress</span>
                        </a>
                    </li>
                    <li ng-click="scrollTo('3')">
                        <a ui-sref="main.admintask">
                            <i class="fa" style="padding-right: 28px;"></i>
                            <span>Pending Task</span>
                        </a>
                    </li>
                    <li ng-click="scrollTo('4')">
                        <a ui-sref="main.admintask">
                            <i class="fa" style="padding-right: 28px;"></i>
                            <span>Completed Task</span>
                        </a>
                    </li>
                </ul>
            </li>
            <li>
                <a ui-sref="main.adminreports">
                    <img src="images/icons/ic_insert_drive_file_white_24px.svg" style="padding-right: 7px;">
                    <span>Reports</span>
                </a>
            </li>
            <br>
            <!-- <li class="header"></li> -->
            <!-- <button ng-click="openMod('lg')" class=" btn-raised btn-info" style="width:100%">Create Task</button> -->
            <div align="center">
                <div class="conteneryellow" ng-click="openMod('lg')" style="width:90%;box-shadow: 0px 2px 6px rgba(99, 99, 99, 0.02);">
                    <div class="txt_button" angular-ripple>Create Task</div>
                </div>
            </div>
            <!-- <div ng-click="openMod('lg')">
                <div class="down-arrow"><a>Create Task</a></div>
            </div> -->
        </ul>
    </section>
</aside>
