<ion-view view-title="Reporting">
    <ion-nav-buttons side="right">
        <button class="button button-icon ion-ios-gear-outline" ng-click="$parent.showPopover($event)"></button>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher on-refresh="doReportingRefresh()" spinner="spiral"></ion-refresher>
        <ion-list show-delete="false" show-reorder="false" can-swipe="true">
            <div class="item item-divider" style="font-size: 13px;">
                MY RECENT REPORTS
                <a ng-click="$parent.openrecentreportModal()" style="float: right;font-size: 13px;">VIEW ALL</a>
            </div>
            <ion-item style="height: 90px;" ng-repeat="list in $parent.reportsData" class="animated fadeInLeft" ng-click="reportdone2(list)">
                <div class="cardrightside">
                    <div class="ion-arrow-left-c" style="margin-top: 33px;color: #c3c3c3;"></div>
                </div>
                <div class="card-sidepad" style="background-color: white;"></div>
                <div class="cardin">
                    <div style="margin-top: 10px;">
                        <div class="card-lbl">Task:</div>
                        <p class="card-lblp">Priority:</p>
                        <p class="card-lblp" style="margin-top: -5px;">Date:</p>
                    </div>
                    <div style="margin-left: 65px;margin-top: 5px;">
                        <div class="card-lbl">{{list.Title}}</div>
                        <p class="card-lblp">{{list.Status}}</p>
                        <p class="card-lblp" style="margin-top: -5px;">{{list.datecompleted}}</p>
                    </div>
                </div>
                <ion-option-button class="button button-dark" ng-click="downloadReport(list)" style="padding: 15px;line-height: 1.5;padding-bottom: 35px;">
                    <small><div><i  class="icon ion-android-download"></i></div><div>Download</div></small>
                </ion-option-button>
                <ion-option-button class="button button-balanced" ng-click="reportdone2(list)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-information"></i></div><div>View</div> <div>Details</div></small>
                </ion-option-button>
            </ion-item>
            <br>
            <div class="item item-divider" style="font-size: 13px;">
                MY REPORTS
                <a ng-click="$parent.openmyreportModal()" style="float: right;font-size: 13px;">VIEW ALL</a>
            </div>
            <ion-item style="height: 90px;" ng-repeat="list in reportsData" class="animated fadeInLeft" ng-click="reportdone2(list)">
                <div class="cardrightside">
                    <div class="ion-arrow-left-c" style="margin-top: 33px;color: #c3c3c3;"></div>
                </div>
                <div class="card-sidepad" style="background-color: white;"></div>
                <div class="cardin">
                    <div style="margin-top: 10px;">
                        <div class="card-lbl">Task:</div>
                        <p class="card-lblp">Priority:</p>
                        <p class="card-lblp" style="margin-top: -5px;">Date:</p>
                    </div>
                    <div style="margin-left: 65px;margin-top: 5px;">
                        <div class="card-lbl">{{list.Title}}</div>
                        <p class="card-lblp">{{list.Status}}</p>
                        <p class="card-lblp" style="margin-top: -5px;">{{list.datecompleted}}</p>
                    </div>
                </div>
                <ion-option-button class="button button-dark" ng-click="downloadReport(list)" style="padding: 15px;line-height: 1.5;padding-bottom: 35px;">
                    <small><div><i  class="icon ion-android-download"></i></div><div>Download</div></small>
                </ion-option-button>
                <ion-option-button class="button button-balanced" ng-click="reportdone2(list)" style="padding: 22px;line-height: 1.5;">
                    <small><div><i  class="icon ion-ios-information"></i></div><div>View</div> <div>Details</div></small>
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
