<ion-tabs class="tabs-icon-top tabs-color-active-positive" style="background-color:#ffffff;">
    <!-- Dashboard Tab -->
    <ion-tab title="Dashboard" icon-off="ion-ios-stopwatch-outline" icon-on="ion-ios-stopwatch"  href="#/tab/dash">
        <ion-nav-view name="tab-dash"></ion-nav-view>
    </ion-tab>
    <!-- Task Tab -->
    <ion-tab title="Task" icon-off="ion-ios-paper-outline" icon-on="ion-ios-paper" href="#/tab/tasks">
        <ion-nav-view name="tab-tasks"></ion-nav-view>
    </ion-tab>
    <!-- Report Tab -->
    <ion-tab title="Reporting" icon-off="ion-ios-pie-outline" icon-on="ion-ios-pie" href="#/tab/reports">
        <ion-nav-view name="tab-reports"></ion-nav-view>
    </ion-tab>
</ion-tabs>
