<ion-view view-title="Scope of Work" name="vendor-info" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list form padding">
            <div><small><a>TASK NAME</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{task.taskname}}</label>
            <br>
            <br>
            <div><small><a>TASK TYPE</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{task.tasktype}}</label>
            <br>
            <br>
            <div><small><a>DESCRIPTION</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{task.description}}</label>
            <hr>
            <div><small><a>STORE NAME</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{task.storename}}</label>
            <br>
            <br>
            <div><small><a>LOCATION</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{task.location}}</label>
            <hr>
            <div><small><a>DEADLINE</a></small></div>
            <div><small>{{task.deadline}}</small></div>
            <div><small style="color:red;">{{task.start}} <span ng-if="task.start">-</span> {{task.end}}</small></div>
            <br>
            <div><small><a>ESTIMATE DAY/TIME OF TASK COMPLETION</a></small></div>
            <div><small>Day/s: {{task.numdays}} day</small></div>
            <div><small style="color:red;">Hour/s: {{task.numhours}} hour(s)</small></div>
            <hr>
            <div><small><a>TASK PRIORITY</a></small></div>
            <label class="new-label" style="color:red;margin-left: 0px;" ng-if="task.priority == 'High'">{{task.priority}}</label>
            <label class="new-label" style="color:green;margin-left: 0px;" ng-if="task.priority == 'Medium'">{{task.priority}}</label>
            <label class="new-label" style="color:yellow;margin-left: 0px;" ng-if="task.priority == 'Low'">{{task.priority}}</label>
            <br>
            <br>
            <div><small><a>CASE NUMBER</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{task.casenumber}}</label>
            <hr>
            <div><small><a>REPORTER</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{task.reporter.fname}} {{task.reporter.lname}}</label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-telephone"></span> {{task.reporter.contactnum}}</label>
            <br>
            <br>
            <div><small><a>REQUESTED BY</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{task.requestor}}</label>
            <br>
            <br>
            <div><small><a>SITE/STORE CONTACT</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{task.storefname}} {{task.storelname}}</label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-telephone"></span> {{task.storeconnum}}</label>
            <br>
            <br>
            <button class="button add-button" ng-click="viewPSD(task)">view PSD</button>
            <br>
            <hr>
        </div>
    </ion-content>
</ion-view>
