<ion-view view-title="Scope of Work" name="vendor-info" hide-back-button="true">
    <ion-nav-buttons side="left">
        <button class="button button-icon ion-ios-arrow-left" ng-click="myGoBack()"></button>
    </ion-nav-buttons>
    <ion-content class="padding">
        <div class="list form padding">
            <div><small><a>TASK NAME</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{selectedTask.Title}}</label>
            <br>
            <br>
            <div><small><a>TASK TYPE</a></small></div>
            <label class="new-label" style="margin-left: 0px;"></label>
            <br>
            <br>
            <div><small><a>DESCRIPTION</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{selectedTask.Description}}</label>
            <hr>
            <div><small><a>STORE NAME</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{selectedTask.client}}</label>
            <br>
            <br>
            <div><small><a>LOCATION</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{selectedTask.location}}</label>
            <hr>
            <div><small><a>DEADLINE</a></small></div>
            <div><small>{{selectedTask.deadline}}</small></div>
            <div><small style="color:red;">5 pm</small></div>
            <br>
            <div><small><a>ESTIMATE DAY/TIME OF TASK COMPLETION</a></small></div>
            <div><small>Day/s: 1 day</small></div>
            <div><small style="color:red;">Hour/s: 5 hours</small></div>
            <hr>
            <div><small><a>TASK PRIORITY</a></small></div>
            <label class="new-label" style="color:red;margin-left: 0px;" ng-if="selectedTask.Status == 'High'">{{selectedTask.Status}}</label>
            <label class="new-label" style="color:green;margin-left: 0px;" ng-if="selectedTask.Status == 'Medium'">{{selectedTask.Status}}</label>
            <label class="new-label" style="color:yellow;margin-left: 0px;" ng-if="selectedTask.Status == 'Low'">{{selectedTask.Status}}</label>
            <br>
            <br>
            <div><small><a>CASE NUMBER</a></small></div>
            <label class="new-label" style="margin-left: 0px;">0165849</label>
            <hr>
            <div><small><a>REPORTER</a></small></div>
            <label class="new-label" style="margin-left: 0px;">James Dean</label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-telephone"></span> +163 0215 0235 </label>
            <br>
            <br>
            <div><small><a>REQUESTED BY</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{selectedTask.client}}</label>
            <br>
            <br>
            <div><small><a>SITE/STORE CONTACT</a></small></div>
            <label class="new-label" style="margin-left: 0px;">{{selectedTask.client}}</label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-telephone"></span> +163 0215 0235 </label>
            <br>
            <label class="new-label" style="margin-left: 0px;"><span class="icon ion-ios-email"></span> james.dead@7eleven.com</label>
            <hr>
            <br>
            <br>
            <button class="button add-button" ng-click="addArea(rates)">view PSD</button>
            <br>
            <hr>
        </div>
        <button ng-click="dreport($event)" class="button button-block button-calm">
            Start
        </button>
    </ion-content>
</ion-view>
