<app-header></app-header>
<div class="" style="margin-top: 20px;">
    <div class="">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header ">
                            <div class="title-card">Payment Information</div>
                            <div class="widget-user-image">
                                <!-- <img class="img-circle" src="images/avatar.png" alt="User Avatar"> -->
                            </div>
                            <!-- /.widget-user-image -->
                            <div class="breadcrumb flat">
                                <a href="" class="active">Vendor Information</a>
                                <a href="" class="active">Qualification</a>
                                <a href="" class="active">Payment</a>
                                <a href=""></a>
                            </div>
                            <div class="box-footer">
                                <form class="form-horizontal col-md-12" style="margin-left: -35px;">
                                    <div class="box-body" style="margin-left: -50px;">
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Currency</label>
                                            <div class="col-sm-5">
                                                <select class="form-control" style="width: 313px;">
                                                    <option>Australian Dollar (AUD)</option>
                                                    <option>US Dollar (USD)</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Rate</label>
                                            <div class="input-group col-sm-2" style="padding-left: 15px;">
                                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                <input type="text" class="form-control" style="width: 85px;">
                                            </div>
                                            <div style="margin-left: 286px; margin-top: -34px;">
                                                <div class="input-group col-sm-3">
                                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Start-End" style="width: 152px;">
                                                    <span class="input-group-addon"><i class="fa  fa-clock-o"></i></span>
                                                </div>
                                                <div class="col-sm-3" style="margin-left: 179px;">
                                                    <select class="form-control" style="width: 191px;margin-top: -34px;">
                                                        <option>Monday</option>
                                                        <option>Tuesday</option>
                                                        <option>Wednesday</option>
                                                        <option>Thursday</option>
                                                        <option>Friday</option>
                                                        <option>Saturday</option>
                                                        <option>Sunday</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Start-End" style="margin-left: 55px;width: 191px;margin-top: -34px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label"></label>
                                            <div class="input-group col-sm-2" style="padding-left: 15px;">
                                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                <input type="text" class="form-control" style="width: 85px;">
                                            </div>
                                            <div style="margin-left: 286px; margin-top: -34px;">
                                                <div class="input-group col-sm-3">
                                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Start-End" style="width: 152px;">
                                                    <span class="input-group-addon"><i class="fa  fa-clock-o"></i></span>
                                                </div>
                                                <div class="col-sm-3" style="margin-left: 179px;">
                                                    <select class="form-control" style="width: 191px;margin-top: -34px;">
                                                        <option>Monday</option>
                                                        <option>Tuesday</option>
                                                        <option>Wednesday</option>
                                                        <option>Thursday</option>
                                                        <option>Friday</option>
                                                        <option>Saturday</option>
                                                        <option>Sunday</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Start-End" style="margin-left: 55px;width: 191px;margin-top: -34px;">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label"></label>
                                            <div class="input-group col-sm-2" style="padding-left: 15px;">
                                                <span class="input-group-addon"><i class="fa fa-dollar"></i></span>
                                                <input type="text" class="form-control" style="width: 85px;">
                                            </div>
                                            <div style="margin-left: 286px; margin-top: -34px;">
                                                <div class="input-group col-sm-3">
                                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Start-End" style="width: 152px;">
                                                    <span class="input-group-addon"><i class="fa  fa-clock-o"></i></span>
                                                </div>
                                                <div class="col-sm-3" style="margin-left: 179px;">
                                                    <select class="form-control" style="width: 191px;margin-top: -34px;">
                                                        <option>Monday</option>
                                                        <option>Tuesday</option>
                                                        <option>Wednesday</option>
                                                        <option>Thursday</option>
                                                        <option>Friday</option>
                                                        <option>Saturday</option>
                                                        <option>Sunday</option>
                                                    </select>
                                                </div>
                                                <div class="col-sm-3">
                                                    <input type="text" class="form-control" id="inputEmail3" placeholder="Start-End" style="margin-left: 55px;width: 191px;margin-top: -34px;">
                                                </div>
                                            </div>
                                            <a ui-sref="main" class="btn btn-raised btn-warning pull-right" style="margin-right: 5px;margin-top: 15px;height: 30px;">
                                                <i class="fa  fa-plus"></i> New Rate</a>
                                        </div>
                                        <div class="form-group">
                                            <div class="quick" style="margin-top:10px;margin-left: 70px;">Payment Method</div>
                                        </div>
                                        <div class="col-md-9" style="padding: 15px;margin-left: 150px;margin-top: -20px;
}">
                                            <div class="form-group">
                                                <div class="radio">
                                                    <label>
                                                        <input ng-click="hideCard1()" type="radio" name="optionsRadios" id="optionsRadios1" value="option1" checked> Direct Deposit
                                                    </label>
                                                    <!-- </div>
                                                <div class="radio"> -->
                                                    <label style="margin-left: 50px;">
                                                        <input ng-click="hideCard()" type="radio" name="optionsRadios" id="optionsRadios2" value="option2"> Cheque
                                                    </label>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list card" id="startCard" ng-show="showstartCard" style="width: 60%;margin-left: 150px;">
                                            <div class="card">
                                                <!--<img src="img/startpage.jpg">-->
                                                <div class="account-det">All requests for payment to bank accounts must be signed by the vendor or accompanied by documentary evidence of bank account details from the vendor(e.g. Email, Fax, Invoice)</div>
                                                <label class="new-label" style="margin-top: 10px;">BANK ACCOUNT</label>
                                                <div class="list logform" style="margin-top:10px;margin-left: -15px;">
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="inputEmail3" placeholder="Bank" style="width: 108%;">
                                                    </div>
                                                    <div class="col-sm-6">
                                                        <input type="text" class="form-control" id="inputEmail3" placeholder="Branch" style="width: 108%;margin-left: -0px;">
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top: 15px;">
                                                        <input type="text" class="form-control" id="inputEmail3" placeholder="Account Name" style="width: 108%;">
                                                    </div>
                                                    <div class="col-sm-6" style="margin-top: 15px;">
                                                        <input type="text" class="form-control" id="inputEmail3" placeholder="BSD" style="width: 108%;margin-left: -0px;">
                                                    </div>
                                                    <div class="col-sm-12" style="margin-top: 15px;">
                                                        <input type="text" class="form-control" id="inputEmail3" placeholder="Account Number" style="width: 104%;">
                                                    </div>
                                                    <div style="margin-left: 15px;"><input type="checkbox" style="margin-top: 40px;"> Terms and Conditions</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="list card" id="secondCard" ng-show="showsecondCard" style="width: 60%;margin-left: 150px;">
                                           <div class="card">
                                                <!--<img src="img/startpage.jpg">-->
                                                <div class="account-det">Cheque will forwarded to the address provided.</div>
                                                <div ><input type="checkbox" style="margin-top: 40px;"> Terms and Conditions</div>
                                            </div>
                                        </div>
                                        <!--  <p>
                                            <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
                                                Button with data-target
                                            </button>
                                        </p> -->
                                        <!--  <div class="collapse" id="collapseExample" style="width: 70%;margin-left: 150px;">
                                            <div class="card card-block">
                                                Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid. Nihil anim keffiyeh helvetica, craft beer labore wes anderson cred nesciunt sapiente ea proident.
                                            </div>
                                        </div>
                                        <div class="collapse" id="collapseExample1" style="width: 70%;margin-left: 150px;">
                                            <div class="card card-block">
                                                Anim pariatur
                                            </div>
                                        </div> -->
                                </form>
                                </div>
                                <div class="col-md-12">
                                    <div class="box-footer" style="width: 108%;margin-left: -34px;">
                                        <a ui-sref="main" class="btn btn-raised btn-default">Cancel</a>

                                        <a ui-sref="" class="btn btn-raised btn-info pull-right">Submit</a>
                                        <a ui-sref="qualification" class="btn btn-raised btn-info pull-right" style="margin-right: 20px;">Back</a>
                                    </div>
                                </div>
                            </div>
                            <!--  <button type="submit" class="btn btn-block btn-flat button-login" style="color:#fff;text-transform: inherit;">Apply as Contractor</button> -->
                        </div>
                    </div>
                    <!--  <div class="social-auth-links text-center">
                <p class="copy" style="margin-top: 50px;">© 2016 Engagis Pty Ltd</p>
            </div> -->
                </div>
            </div>
        </div>
    </div>
