<app-header></app-header>
<div class="" style="margin-top: 20px;">
    <div class="">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-8">
                    <!-- Widget: user widget style 1 -->
                    <div class="box box-widget widget-user-2">
                        <!-- Add the bg color to the header using any of the bg-* classes -->
                        <div class="widget-user-header ">
                            <div class="title-card">Qualification</div>
                            <div class="widget-user-image">
                                <!-- <img class="img-circle" src="images/avatar.png" alt="User Avatar"> -->
                            </div>
                            <!-- /.widget-user-image -->
                            <div class="breadcrumb flat">
                                <a ui-sref="" class="active">Vendor Information</a>
                                <a href="" class="active">Qualification</a>
                                <a href="">Payment</a>
                                <a href=""></a>
                            </div>
                            <div class="box-footer">
                                <form class="form-horizontal col-md-9">
                                    <div class="quick" style="margin-top:10px;">Qualification Checklist</div>
                                    <div class="col-md-9" style="padding: 15px;line-height: 2.5;margin-left: 58px;">
                                        <input type="checkbox"> Hardware Installations
                                        <br>
                                        <input type="checkbox"> Site-D Installations
                                        <br>
                                        <input type="checkbox"> Preventive Maintenance
                                        <br>
                                        <input type="checkbox"> Digital Media and Digital Points of Purchase Rollouts
                                        <br>
                                        <input type="checkbox"> Basic Networking Experience
                                        <br>
                                        <input type="checkbox"> Testing and Servicing Equipment
                                        <br>
                                        <input type="checkbox"> Others
                                        <br>
                                        <!-- <div class="input-control col-sm-12">
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputEmail3" placeholder="Add other Qualification" style="margin-left: -5px;">
                                        </div>
                                        <div class="col-sm-3">
                                            <button class="btn" style="padding: 0px;background-color: #bcbf43;width: 40px;margin-left: -28px;">
                                                <div class="pl">+</div>
                                            </button>
                                        </div>
                                    </div> -->
                                        <div class="form-group">
                                            <div class="input-group col-sm-8" style="margin-left: 15px;margin-top: 10px;">
                                                <input type="text" id="addon1" class="form-control" placeholder="Add other Qualification">
                                                <span class="input-group-btn">
        <!-- <button class="btn btn-primary" type="button" style="background-color: #bcbf43;color: #fff;">Add</button> -->
                                                <button type="button" class="btn btn-fab btn-fab-mini" style="color: #fff;background-color: #f39c12;font-weight: 600;">
                                                <i class="fa  fa-plus"></i>
                                                </button>
                                            </span>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                                <form class="form-horizontal col-sm-9" style="margin-left: -35px;margin-bottom:10px;">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Reference</label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" placeholder="LastName, FirstName, MiddleName" style="margin-top: 12px;">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-8">
                                            <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                                        </div>
                                    </div>
                                </form>
                                <!-- <form role="form">
                                    <div class="box-body">
                                        <div class="form-group">
                                            <label for="exampleInputFile">Resume</label>
                                            <input type="file" id="exampleInputFile">
                                        </div>
                                    </div>
                                </form> -->
                                <div>
                                <div>
                                <label style="margin-top: 12px;margin-left: -120px;">Resume</label>
                                <form class="attach" method="POST">
                                    <input class="in" type="file" multiple>
                                    <p class="ata">Attach Resume</p>
                                </form>
                                </div>
                                <div>                               
                                <form class="attach2" method="POST">
                                    <input class="in" type="file" multiple>
                                    <p class="ata2">Attach</p>
                                </form>
                                </div>
                                </div>

                                <div>
                                <div>
                                <label style="margin-top: 81px;margin-left: -120px;">Certificate</label>
                                <form class="attachi" method="POST">
                                    <input class="ini" type="file" multiple>
                                    <p class="atat">Attach Certificate</p>
                                </form>
                                </div>
                                <div>                              
                                <form class="attachi2" method="POST">
                                    <input class="ini" type="file" multiple>
                                    <p class="atat2">Attach</p>
                                </form>
                                </div>
                                </div>


                                <!--  <div class="form-group">
                                    <div class="quick" style="margin-top: -20px;margin-bottom: -15px;">Resume</div>
                                    <div class="form-group">
                                        <input type="" id="" multiple="">
                                        <div class="input-group">
                                            <input type="text" readonly="" class="form-control" placeholder="Attached Resume">
                                            <span class="input-group-btn input-group-sm">
                                                <button type="button" class="btn btn-fab btn-fab-mini">
                                                <i class="material-icons">attach_file</i>
                                                </button>
                                                </span>
                                        </div>
                                    </div>
                                </div> -->
                                <!--  <div class="form-group">
                                    <div class="quick" style="margin-top: 10px;margin-bottom: -15px;">Certificate</div>
                                    <div class="form-group">
                                        <input type="" id="" multiple="">
                                        <div class="input-group">
                                            <input type="text" readonly="" class="form-control" placeholder="Attached Cirtificate">
                                            <span class="input-group-btn input-group-sm">
                                                <button type="button" class="btn btn-fab btn-fab-mini">
                                                <i class="material-icons">attach_file</i>
                                                </button>
                                                </span>
                                        </div>
                                    </div>
                                </div> -->
                                <!-- <form class="form-horizontal col-md-9">
                                    <div class="box-body" style="margin-left: -50px;">
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">Full Name</label>
                                            <div class="col-sm-9">
                                                <input type="text" class="form-control" id="inputEmail3" placeholder="LastName, FirstName, MiddleName">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label">Address</label>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>option 1</option>
                                                    <option>option 2</option>
                                                    <option>option 3</option>
                                                    <option>option 4</option>
                                                    <option>option 5</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="inputEmail3" placeholder="Post Code">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputPassword3" class="col-sm-2 control-label"></label>
                                            <div class="col-sm-4">
                                                <select class="form-control">
                                                    <option>option 1</option>
                                                    <option>option 2</option>
                                                    <option>option 3</option>
                                                    <option>option 4</option>
                                                    <option>option 5</option>
                                                </select>
                                            </div>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="inputEmail3" placeholder="Post Code">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label for="inputEmail3" class="col-sm-2 control-label">ABN</label>
                                            <div class="col-sm-4">
                                                <input type="text" class="form-control" id="inputEmail3" placeholder="e.g 53 004 085 616">
                                            </div>
                                        </div>
                                </form> -->
                                <!-- <form class="form-horizontal">
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label">Primary Contact</label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputEmail3" placeholder="LastName, FirstName, MiddleName">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputEmail3" placeholder="Phone">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label for="inputEmail3" class="col-sm-2 control-label"></label>
                                        <div class="col-sm-9">
                                            <input type="text" class="form-control" id="inputEmail3" placeholder="Email">
                                        </div>
                                    </div>
                                    </div>
                                </form> -->
                                <div class="col-md-12">
                                    <div class="box-footer" style="width: 108%;margin-left: -34px;">
                                        <a ui-sref="main" class="btn btn-raised btn-default">Cancel</a>
                                        <a ui-sref="payment" class="btn btn-raised btn-info pull-right">Next</a>
                                        <a ui-sref="vendorinfo" class="btn btn-raised btn-info pull-right" style="margin-right: 20px;">Back</a>
                                    </div>
                                </div>
                                <!-- <form ng-submit="login()">
                                    <div class="form-group has-feedback">
                                        <span class="glyphicon glyphicon-user form-control-feedback font" style="color:#2980dc;"></span>
                                        <input type="text" class="form-control" placeholder="Username" ng-model="user.username" />
                                    </div>
                                    <div class="form-group has-feedback" style="margin-top: 10px;">
                                        <span class="glyphicon glyphicon-lock form-control-feedback font" style="color:#2980dc;"></span>
                                        <input type="password" class="form-control" placeholder="Password" ng-model="user.password" />
                                    </div>
                                    <p class="forgot">Forgot Password?</p>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <button type="submit" class="btn btn-block btn-flat button-login" style="color:#fff;text-transform: inherit;margin-left: 25%; width:50%;">Login</button>
                                        </div>
                                    </div>
                                </form> -->
                            </div>
                        </div>
                        <!--  <button type="submit" class="btn btn-block btn-flat button-login" style="color:#fff;text-transform: inherit;">Apply as Contractor</button> -->
                    </div>
                </div>
                <!--  <div class="social-auth-links text-center">
                <p class="copy" style="margin-top: 50px;">© 2016 Engagis Pty Ltd</p>
            </div> -->
            </div>
        </div>
    </div>
</div>
</div>
</div>
